/* 
#000000
#1A1A1B
#353437
#4F4E52
#69686D
#FFFFFF
#502785
#5E4CB2
 */

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #353437;
}

/* ------- */
/* General */
/* ------- */

.colored-section {
    background-color: #5E4CB2;
}

.colored-section-2 {
    background-color: #502785;
}

.time-header {
    font-family: 'Catamaran', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.time-body {
    font-size: 3rem;
}

/* ------ */
/* Title */
/* ------ */

#resin-img {
    width: 128px;
}

.big-header {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 0.9;
}

/* ----- */
/* Input */
/* ----- */

#resin-input {
    display: inline-block;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 3% 3%;
}

/* ------ */
/* Result */
/* ------ */

#full-resin {
    padding-top: 1%;
    padding-bottom: 3%;
}

.resin-col {
    padding: 5% 2%;
}

/* ------ */
/* Footer */
/* ------ */

#footer {
    font-size: 0.75rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

/* --------- */
/* Bootstrap */
/* --------- */

.container-fluid {
    padding: 2% 0;
}
